# PyTorch CPU wheels (maybe required to install torch for cpu only)
#--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
pybind11
setuptools
ninja
anytree
numpy
tqdm
matplotlib
pandas
tabulate
timm

